<ion-header>
  <ion-toolbar>
    <ion-title>
      pusherSWars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img *ngIf="character?.image" src="{{ character?.image }}"></ion-img>
  
    <ion-card-content>
      <ion-card-title text-center>{{ character?.name }}</ion-card-title>
      <p><b>Height: </b> {{ character?.height }}</p>
      <p><b>Mass: </b> {{ character?.mass }}</p>
      <p text-center><ion-button (click)="shuffle()" shape="round" color="primary" fill="outline">Shuffle</ion-button> <ion-button shape="round" color="dark" fill="outline">Save</ion-button></p>
    </ion-card-content>
  </ion-card>
</ion-content>
